:host {
	position: relative;
	text-align: center;
	display: inline-block;
	background-color: black;
	width: 280px;
	height: 158px;
}

#video {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}


#spinner {
	width: 86px;
	height: 86px;
	position: absolute;
	top: calc(50% - 43px);
	left: calc(50% - 43px);
}

#spinner::shadow .circle {
	border-width: 8px;
}

#toolbar {
	right: 0;
	bottom: 0;
	position: absolute;
}

#volume {
	opacity: 0;
	width: 100px;
	transition: opacity 300ms {{_easing}};
}

:host(:hover) #volume {
	opacity: 1;
}

#volume::shadow #sliderBar::shadow #activeProgress {
	background-color: inherit;
}

#volume /deep/ #sliderKnobInner,
#volume /deep/ #progressContainer {
	background-color: {{color}};
}