:host {
	position: relative;
	text-align: center;
	display: inline-block;
	background-color: black;
	min-width: 280px;
	min-height: 158px;
}

#video {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

#spinner {
	width: 86px;
	height: 86px;
	position: absolute;
	top: calc(50% - 43px);
	left: calc(50% - 43px);
}

#spinner::shadow .circle {
	border-width: 8px;
}

#toolbar {
	right: 2px;
	bottom: 4px;
	position: absolute;
	opacity: 0;
	transition: opacity 150ms {{_easing}};
}

#fullscreen {
	height: 32px;
	padding: 4px;
	vertical-align: top;
	min-width: 0;
}

#fullscreen /deep/ .button-content {
	padding: 0;
}

#volume {
	width: 100px;
	cursor: pointer;
}

:host(:hover) #toolbar {
	opacity: 1;
}

#volume::shadow #sliderBar::shadow #activeProgress {
	background-color: inherit;
}

paper-slider /deep/ #sliderKnobInner,
paper-slider /deep/ #progressContainer {
	background-color: {{uicolor}};
}

#fullscreen {
	margin-left: -12px;
	color: {{uicolor}};
}